<a href="https://colab.research.google.com/github/buriihenry/Data-Visualization/blob/master/World_Population.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
pip install bar_chart_race

Collecting bar_chart_race
  Downloading bar_chart_race-0.1.0-py3-none-any.whl (156 kB)
     |████████████████████████████████| 156 kB 5.2 MB/s
Requirement already satisfied: matplotlib>=3.1 in /usr/local/lib/python3.7/dist-packages (from bar_chart_race) (3.2.2)
Requirement already satisfied: pandas>=0.24 in /usr/local/lib/python3.7/dist-packages (from bar_chart_race) (1.1.5)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=3.1->bar_chart_race) (2.8.2)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=3.1->bar_chart_race) (1.3.2)
Requirement already satisfied: numpy>=1.11 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=3.1->bar_chart_race) (1.19.5)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=3.1->bar_chart_race) (3.0.6)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=3.1->bar_chart_race) (0.11.0)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24->bar_chart_race) (2018.9)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.1->matplotlib>=3.1->bar_chart_race) (1.15.0)
Installing collected packages: bar-chart-race
Successfully installed bar-chart-race-0.1.0

In [2]:
import pandas as pd

In [3]:
import bar_chart_race as bcr

In [4]:
df= pd.read_csv('https://raw.githubusercontent.com/dexplo/bar_chart_race/master/data/urban_pop.csv')

In [5]:
df.head()

   year  United States      India  ...     Japan  Indonesia    Brazil
0  1976      160611122  138219074  ...  85642808   26596457  67790415
1  1977      162256678  143699557  ...  86538157   28001978  70478354
2  1978      164005080  149379782  ...  87391419   29468690  73245834
3  1979      165847531  155285824  ...  88197927   30996679  76091693
4  1980      167551171  161444128  ...  88958689   32591870  79015954

[5 rows x 38 columns]

In [6]:
df=df.set_index('year')

In [7]:
df.head()

      United States      India      China  ...     Japan  Indonesia    Brazil
year                                       ...
1976      160611122  138219074  162497601  ...  85642808   26596457  67790415
1977      162256678  143699557  165293316  ...  86538157   28001978  70478354
1978      164005080  149379782  171153535  ...  87391419   29468690  73245834
1979      165847531  155285824  180399661  ...  88197927   30996679  76091693
1980      167551171  161444128  189947471  ...  88958689   32591870  79015954

[5 rows x 37 columns]

In [8]:
df.columns

Index(['United States', 'India', 'China', 'Ethiopia', 'Poland', 'Malaysia',
       'Peru', 'Venezuela', 'Iraq', 'Saudi Arabia', 'Canada', 'Algeria',
       'Ukraine', 'Vietnam', 'Thailand', 'Congo, Dem. Rep.', 'Spain',
       'South Africa', 'Colombia', 'Argentina', 'Egypt', 'South Korea',
       'Italy', 'Philippines', 'France', 'United Kingdom', 'Bangladesh',
       'Iran', 'Turkey', 'Germany', 'Pakistan', 'Nigeria', 'Mexico', 'Russia',
       'Japan', 'Indonesia', 'Brazil'],
      dtype='object')

In [ ]:
bcr.bar_chart_race(df = df, )